.header {
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: space-between;

    ul {

        li {
            a {
                text-align: center;
                line-height: 40px;
                font-size: 12px;
                font-family: 'Microsoft Yahei';
                color: #b0b0b0;
            }
        }
    }

    .header_left {
        width: 60%;

        ul {
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
        }
    }


    .header_right {
        width: 23%;
        display: flex;
        text-align: center;

        ul {
            display: flex;
            width: 60%;
            justify-content: space-around;
        }

        .shopCar {
            display: inline-block;
            width: 110px;
            line-height: 40px;
            background-color: #424242;
            font-size: 12px;

            .white-area {
                float: right;
                width: 300px; // 由于宽度太大，故掉到下一行了
                // margin-right: 8px; 因为把这个div放到shopCar里了，故不再需要这个margin-right，加了float后就会到最右边了
                background-color: #fff;
                transition: height 0.4s ease-out, opacity 0.2s ease-in, visibility 0.2s ease-in;
                visibility: 0;
                opacity: 0;
                height: 0;
                line-height: 100px;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
            }

            a {
                color: #b0b0b0;
            }

            &:hover {
                background-color: #fff;

                .white-area {
                    opacity: 1;
                    visibility: 1;
                    height: 100px;
                }

                a {
                    color: #ff674b;
                }
            }
        }
    }

}

.main {
    .top_products {
        display: flex;
        height: 100px;
        background-color: pink;

        .logo_img {
            // 这个水平和垂直居中方式中，子绝父相，父亲要有宽度和高度
            position: relative;
            width: 80px;
            height: 100%;
            background-color: red;

            img {
                position: absolute;
                width: 55px;
                height: 55px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .products_content {
            display: flex;
            align-items: center;
            background-color: skyblue;
            margin-left: 160px;

            ul {
                display: flex;

                li {
                    padding: 0 10px;

                    a {
                        color: #333;
                        font-size: 16px;
                    }

                    a:hover {
                        color: #ff6700;
                    }
                }
            }
        }

        .search {
            display: flex;
            align-items: center;
            margin-left: 100px;

            input {
                height: 47px;
                width: 260px;
                border: #ccc;
            }
        }
    }
}